/* Base editor container */
.tiptap {
  padding: 1rem;
  min-height: 40vh;
  border-radius: 8px;
  outline: none;
}

/* // Prevent text selection issues in the editor when copying and pasting */
.tiptap * {
  color: inherit !important;
}

/* Light Theme */
.tiptap.light {
  background-color: white;
  color: #111;
  border: 1px solid #ccc;
}

.tiptap.light {
  color: #111 !important;
}

/* Dark Theme */
.tiptap.dark {
  background-color: #121212;
  color: #f5f5f5;
  border: 1px solid #393939;
}

.tiptap.dark {
  color: #f5f5f5 !important;
}

/* Paragraphs */
.tiptap p {
  line-height: 1.8;
  margin: 1em 0;
}

/* Headings */
.tiptap h1,
.tiptap h2,
.tiptap h3,
.tiptap h4,
.tiptap h5,
.tiptap h6 {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  color: inherit;
  margin-bottom: 0.5rem;
  text-decoration: underline;
  text-decoration-color: #ccc;
  text-decoration-thickness: 2px;
  text-underline-offset: 0.2rem;
  text-transform: uppercase;
}

.tiptap h1 {
  font-size: 1.6rem;
  margin-top: 3rem;
}

.tiptap h2 {
  font-size: 1.4rem;
  margin-top: 2.5rem;
}

.tiptap h3 {
  font-size: 1.2rem;
  margin-top: 2rem;
}

.tiptap h4,
.tiptap h5,
.tiptap h6 {
  font-size: 1rem;
  margin-top: 1.5rem;
}

/* Lists */
.tiptap ul,
.tiptap ol {
  padding-left: 1.5rem;
  margin: 1rem 0;
  line-height: 1.6;
}

.tiptap ul {
  list-style-type: disc;
}

.tiptap ol {
  list-style-type: decimal;
}

.tiptap li {
  margin: 0.5em 0;
}

/* Inline code */
.tiptap code {
  font-family: "JetBrainsMono", monospace;
  font-size: 0.9rem;
  padding: 0.2em 0.4em;
  border-radius: 1.25rem;
  background-color: rgba(255, 255, 255, 0.05);
}

/* Code block */
.tiptap pre {
  padding: 1rem;
  border-radius: 0.5rem;
  background: #242222;
  color: aqua !important;
  border: 1px solid gray;
  font-family: "JetBrainsMono", monospace;
  overflow-x: auto;
  margin: 1.5rem 0;
}

.tiptap pre code {
  color: inherit;
  font-size: 0.9rem;
  padding: 0;
  background: none;
}

/* Blockquote */
.tiptap blockquote {
  border-left: 4px solid #ccc;
  margin: 1rem 0;
  padding-left: 1rem;
  font-style: italic;
  opacity: 0.9;
}

/* Horizontal rule */
.tiptap hr {
  border: none;
  border-top: 1px solid #ccc;
  margin: 2rem 0;
}

/* Links */
.tiptap a {
  color: #3b82f6;
  text-decoration: underline;
}

/* Editor first-child fix */
.tiptap > *:first-child {
  margin-top: 0;
}

/* @media screen and (max-width: 600px) {
  .tiptap {
    min-width: 90vw;
    margin: auto;
  }
} */
