.button-group button {
  border: 2px solid white;
  display: flex;
  flex-wrap: wrap;
  padding: 4px;
  gap: 4px;
  border-radius: 5px;
  cursor: pointer;
}

/* Base editor container */
.tiptap {
  padding: 1rem;
  min-height: 40vh;
  border-radius: 8px;
  /* min-width: 15vw; */
  outline: none;
}

/* Light theme */
.tiptap.light {
  background-color: white;
  color: black;
  border: 1px solid gray;
}
.lightBorder button {
  border: 1px solid gray;
}

/* Dark theme */
.tiptap.dark {
  background-color: #121212;
  color: white;
  border: 1px solid rgb(57, 57, 57);
}

/* Remove top margin of first child */
.tiptap > *:first-child {
  margin-top: 0;
}

/* Lists */
.tiptap ul,
.tiptap ol {
  padding: 0 1rem;
  /* margin: 1.25rem 1rem 1.25rem 0.4rem; */
}

.tiptap li p {
  line-height: 1.5;
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

/* Headings */
.tiptap h1,
.tiptap h2,
.tiptap h3,
.tiptap h4,
.tiptap h5,
.tiptap h6 {
  line-height: 1.1;
  margin-top: 2.5rem;
  text-wrap: pretty;
}

.tiptap h1,
.tiptap h2 {
  margin-top: 3.5rem;
  margin-bottom: 1.5rem;
}

.tiptap h1 {
  font-size: 1.4rem;
}

.tiptap h2 {
  font-size: 1.2rem;
}

.tiptap h3 {
  font-size: 1.1rem;
}

.tiptap h4,
.tiptap h5,
.tiptap h6 {
  font-size: 1rem;
}

/* Inline code */
.tiptap code {
  border-radius: 0.4rem;
  color: #1a1a1a;
  font-size: 0.85rem;
  padding: 0.25em 0.3em;
}

/* Code block */
.tiptap pre {
  width: full; /* Limit width */
  padding: 0.75rem 1rem;
  overflow-x: auto;
  border-radius: 0.5rem;
  background: #242222;
  color: aqua;
  border: 1px solid gray;
  font-family: "JetBrainsMono", monospace;
  margin-top: 20px;
  margin-bottom: 20px;
}
.tiptap pre code {
  color: inherit;
  font-size: 0.8rem;
  padding: 0;
}
/* Ensure bullet and ordered lists show markers */
.tiptap ul {
  list-style-type: disc;
}

.tiptap ol {
  list-style-type: decimal;
}

/* Blockquote */
.tiptap blockquote {
  border-left: 3px solid #ccc;
  margin: 1rem 0;
  padding-left: 1rem;
}

/* Horizontal rule */
.tiptap hr {
  border: none;
  border-top: 1px solid #ccc;
  margin: 2rem 0;
}
.tiptap p {
  line-height: 30px;
}
